In [6]:
import numpy as np
import pandas as pd
import datetime
import yfinance as yf

In [7]:
dates = {
    "Watergate": datetime.datetime(1972,6,19),
    "Yom Kippur War": datetime.datetime(1973,10,8),
    "Three Mile Island Accident": datetime.datetime(1979,3,28),
    "Iran Hostage Crisis": datetime.datetime(1979,11,5),
    "Reagan Assassination Attempt": datetime.datetime(1981,3,30),
    "Challenger Space Shuttle": datetime.datetime(1986,1,28),
    "Iran-Contra Affair": datetime.datetime(1986,11,3),
    "Iraq Invades Kuwait": datetime.datetime(1990,8,2),
    "Desert Storm/First Gulf War": datetime.datetime(1991,1,17),
    "LA Riots": datetime.datetime(1992,4,29),
    "WTC Bombing": datetime.datetime(1993,2,26),
    "Oklahoma City Bombing": datetime.datetime(1995,4,19),
    "Centennial Park Olympic Bombing": datetime.datetime(1996,7,29),
    "Kenya/Tanzania Embassy Bombings": datetime.datetime(1998,8,7),
    "USS Cole Bombing": datetime.datetime(2000,10,12),
    "Bush-Gore Hanging Chad": datetime.datetime(2000,11,7),
    "9 eleven": datetime.datetime(2001,9,11),
    "War in Afganistan": datetime.datetime(2001,10,8),
    "SARS": datetime.datetime(2003,3,11),
    "Second Gulf War": datetime.datetime(2003,3,20),
    "Madrid Train Bombings": datetime.datetime(2004,3,11),
    "Orange Revolution Ukraine": datetime.datetime(2004,11,22),
    "Asian Tsunami": datetime.datetime(2004,12,27),
    "London Bombings": datetime.datetime(2005,7,7),
    "Hurricane Katrina": datetime.datetime(2005,8,29),
    "Arab Spring": datetime.datetime(2010,12,17),
    "Boston Marathon Bombing": datetime.datetime(2013,4,15),
    "Russia/Ukraine/Crimea": datetime.datetime(2014,2,27),
    "Greek Referendum": datetime.datetime(2015,11,5),
    "Brexit": datetime.datetime(2016,6,24),
    "Trump Surprise Election Win": datetime.datetime(2016,11,8),
    "Hurricane Harvey/Irma/Maria": datetime.datetime(2017,8,25),
    "US-China Trade War": datetime.datetime(2018,1,22),
    "Coronavirus Outbreak": datetime.datetime(2020,2,19),
    "Russia Ukraine War": datetime.datetime(2021, 2, 20)
}
type =[
    ['Watergate','Political'],
    ['Yom Kippur War','War'],
    ['Three Mile Island Accident','Environmental'],
    ['Iran Hostage Crisis','Political'],
    ['Reagan Assassination Attempt','Political'],
    ['Challenger Space Shuttle','Social'],
    ['Iran-Contra Affair','War'],
    ['Iraq Invades Kuwait','War'],
    ['Desert Storm/First Gulf War','War'],
    ['LA Riots','Political'],
    ['WTC Bombing','Terrorism'],
    ['Oklahoma City Bombing','Terrorism'],
    ['Centennial Park Olympic Bombing','Terrorism'],
    ['Kenya/Tanzania Embassy Bombings','Terrorism'],
    ['USS Cole Bombing','Terrorism'],
    ['Bush-Gore Hanging Chad','Political'],
    ['9 eleven','Terrorism'],
    ['War in Afganistan','War'],
    ['SARS','Social'],
    ['Second Gulf War','War'],
    ['Madrid Train Bombings','Terrorism'],
    ['Orange Revolution Ukraine','Political'],
    ['Asian Tsunami','Environmental'],
    ['London Bombings','Terrorism'],
    ['Hurricane Katrina','Environmental'],
    ['Arab Spring','Social'],
    ['Boston Marathon Bombing','Terrorism'],
    ['Russia/Ukraine/Crimea','War'],
    ['Greek Referendum','Political'],
    ['Brexit','Social'],
    ['Trump Surprise Election Win','Political'],
    ['Hurricane Harvey/Irma/Maria','Environmental'],
    ['US-China Trade War','Political'],
    ['Coronavirus Outbreak','Social'],
    ['Russia Ukraine War', 'War']
]

df_event_type = pd.DataFrame(type, columns = ["Event", "Type"]).set_index("Event")
df_event_type

                                          Type
Event
Watergate                            Political
Yom Kippur War                             War
Three Mile Island Accident       Environmental
Iran Hostage Crisis                  Political
Reagan Assassination Attempt         Political
Challenger Space Shuttle                Social
Iran-Contra Affair                         War
Iraq Invades Kuwait                        War
Desert Storm/First Gulf War                War
LA Riots                             Political
WTC Bombing                          Terrorism
Oklahoma City Bombing                Terrorism
Centennial Park Olympic Bombing      Terrorism
Kenya/Tanzania Embassy Bombings      Terrorism
USS Cole Bombing                     Terrorism
Bush-Gore Hanging Chad               Political
9 eleven                             Terrorism
War in Afganistan                          War
SARS                                    Social
Second Gulf War                            War
Madrid Train Bombings                Terrorism
Orange Revolution Ukraine            Political
Asian Tsunami                    Environmental
London Bombings                      Terrorism
Hurricane Katrina                Environmental
Arab Spring                             Social
Boston Marathon Bombing              Terrorism
Russia/Ukraine/Crimea                      War
Greek Referendum                     Political
Brexit                                  Social
Trump Surprise Election Win          Political
Hurricane Harvey/Irma/Maria      Environmental
US-China Trade War                   Political
Coronavirus Outbreak                    Social
Russia Ukraine War                         War

In [8]:
df_master = []
for name, date in dates.items():
    df = yf.download("^GSPC", start = date, end = date + datetime.timedelta(days = 365))["Close"]
    W = (df.pct_change(1).resample("W").sum().iloc[0] * 100)#.round(0).astype(str) + '%'
    M = (df.pct_change(1).resample("M").sum().iloc[0] * 100)#.round(0).astype(str) + '%'
    Q = (df.pct_change(1).resample("Q").sum().iloc[0] * 100)#.round(0).astype(str) + '%'
    Y = (df.pct_change(1).sum()*100)#.round(0).astype(str) + '%'
    df_master.append([name, date, W, M, Q, Y])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
df_event = pd.DataFrame(df_master, columns = ["Event", "Event Date", "First Week", "First Month", "First Quarter", "First Year"]).set_index("Event")
df_event["Event Type"] = df_event_type.Type
df_event = df_event[["Event Date", "Event Type", "First Week", "First Month", "First Quarter", "First Year"]]
df_event.loc['Average']= df_event.mean(numeric_only=True, axis=0)
df_event

,Event Date,Event Type,First Week,First Month,First Quarter,First Year
Event,,,,,,
Watergate,1972-06-19,Political,0.149737,-0.895550,-0.895550,-3.605673
Yom Kippur War,1973-10-08,War,1.110184,-1.719935,-11.677240,-50.718071
Three Mile Island Accident,1979-03-28,Environmental,-0.519384,-0.519384,-0.519384,-2.584024
Iran Hostage Crisis,1979-11-05,Political,-0.286204,4.246495,5.932736,24.892751
Reagan Assassination Attempt,1981-03-30,Political,0.908110,1.280906,1.280906,-16.907924
Challenger Space Shuttle,1986-01-28,Social,0.942667,0.942667,13.114821,27.721750
Iran-Contra Affair,1986-11-03,War,-0.011530,1.465927,-1.340727,8.943789
Iraq Invades Kuwait,1990-08-02,War,-1.883471,-8.299669,-13.454006,11.074055
Desert Storm/First Gulf War,1991-01-17,War,1.298902,4.791150,13.687575,25.235214
LA Riots,1992-04-29,Political,0.127930,0.711136,-0.871483,6.571737
WTC Bombing,1993-02-26,Terrorism,0.000000,0.000000,1.902403,5.359297
Oklahoma City Bombing,1995-04-19,Terrorism,0.706574,1.926695,7.684138,24.475267
Centennial Park Olympic Bombing,1996-07-29,Terrorism,4.919726,1.427767,8.660142,40.421619
Kenya/Tanzania Embassy Bombings,1998-08-07,Terrorism,0.000000,-12.528846,-5.983600,20.113800
USS Cole Bombing,2000-10-12,Terrorism,3.338147,7.425592,-0.086932,-16.583642
Bush-Gore Hanging Chad,2000-11-07,Political,-4.665972,-8.357409,-7.688870,-22.112396
9 eleven,2001-09-11,Terrorism,-7.201166,0.400574,0.400574,-10.513927
War in Afganistan,2001-10-08,War,2.752417,-0.119647,8.081815,-27.293648
SARS,2003-03-11,Social,4.042497,5.998326,5.998326,36.477226
Second Gulf War,2003-03-20,War,2.297669,-3.073504,-3.073504,25.840618
Madrid Train Bombings,2004-03-11,Terrorism,1.245949,1.804554,1.804554,9.450716
Orange Revolution Ukraine,2004-11-22,Political,0.459368,-0.288658,2.941884,6.920262
Asian Tsunami,2004-12-27,Environmental,0.581908,0.581908,0.581908,5.677893
London Bombings,2005-07-07,Terrorism,1.167906,3.010602,2.642345,6.715803
Hurricane Katrina,2005-08-29,Environmental,0.478195,0.667181,1.392614,7.705921
Arab Spring,2010-12-17,Social,0.000000,1.100784,1.100784,0.671379
Boston Marathon Bombing,2013-04-15,Terrorism,0.212644,2.907716,3.615147,17.157522
Russia/Ukraine/Crimea,2014-02-27,War,0.278269,0.278269,1.012453,13.624184
Greek Referendum,2015-11-05,Political,-0.034762,-0.886153,-2.512630,0.441293
Brexit,2016-06-24,Social,0.000000,3.027138,3.027138,18.343711
Trump Surprise Election Win,2016-11-08,Political,1.162982,2.747902,4.577753,19.371832
Hurricane Harvey/Irma/Maria,2017-08-25,Environmental,0.000000,1.166602,3.091335,17.045724
US-China Trade War,2018-01-22,Political,1.405821,-0.308360,-6.571611,-4.356395
Coronavirus Outbreak,2020-02-19,Social,-1.433362,-13.430737,-23.090183,20.969913
Russia Ukraine War,2021-02-20,War,-1.662109,-1.662109,2.617139,12.488726
Average,NaT,NaN,0.339704,-0.119430,0.496651,7.401037

In [10]:
def colour_numbers(series):
    red    = 'background-color: lightcoral;'
    green = 'background-color: palegreen;'     
    default = ''

    # note multiple else ..if conditions
    return [red if e < 0 else green for e in series]

In [13]:
(df_event
 .style
 .format(precision = 0,
         formatter={("First Week"): lambda x: "{:,.1f}%".format(x),
                    ("First Month"): lambda x: "{:,.1f}%".format(x),
                    ("First Quarter"): lambda x: "{:,.1f}%".format(x),
                    ("First Year"): lambda x: "{:,.1f}%".format(x)
                    })
 .apply(colour_numbers, axis=0, subset=["First Week", "First Month", "First Quarter", "First Year"]))

In [14]:
df_event_type = df_event.groupby("Event Type").mean()
(df_event_type
 .style
 .format(precision = 0,
         formatter={("First Week"): lambda x: "{:,.1f}%".format(x),
                    ("First Month"): lambda x: "{:,.1f}%".format(x),
                    ("First Quarter"): lambda x: "{:,.1f}%".format(x),
                    ("First Year"): lambda x: "{:,.1f}%".format(x)
                    })
 .apply(colour_numbers, axis=0, subset=["First Week", "First Month", "First Quarter", "First Year"]))

C:\Users\chrfur\AppData\Local\Temp\ipykernel_7608\1257851713.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_event_type = df_event.groupby("Event Type").mean()